//Colors
$beige: #FFF8AF;
$lightorange: #FFB738;
$lightgold: #FFD12F;
$medgold: #E8C91F;
$darkgold: #E8AE1F;
$white: #fff;
$flatblack: #333;
$headingcolor: #C68C0D;

//Fonts
$bodyfont: 'Noto Sans', sans-serif;
$headingfont: 'Comfortaa', serif;