@import 'bourbon/bourbon';
@import 'variables';

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $beige;
	font-family: $bodyfont;
	font-size: 2em;
	overflow: auto;
}

main {
	@include transition(0.55s 0.5s);
  	padding-right: 5vw;
  	position: relative;
  	margin-left: 5vw;
}

footer {
	background-color: $flatblack;
	color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingfont;
	small {
		font-family: $bodyfont;
	}
}

a {
	@include transition(color 0.5s);

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

#switchpage {
	@include transition(opacity 0.5s);
}

#navmenu {
	margin-left: 94.75vw;
	margin-top: 1em;
	z-index: 10001;
	position: fixed;
	opacity: 0.0;
}

#navupdown {
	margin-left: 94.5vw;
	margin-top: 4em;
	z-index: 10001;
	position: fixed;
	opacity: 0.0;

	span {
		cursor: pointer;
		@include transition(0.55s 0.5s);
	}
}

#links {
	width: 25vw;
	height: 100vh;
	background-color: $flatblack;
	margin-left: 100vw;
	@include transition(0.55s 0.5s);
  	position: fixed;
  	z-index: 10000;
  	opacity: 0.0;
  	text-decoration: none;
  	overflow: scroll;
  	overflow-x: hidden;
}

#listentries {
	li a:hover, li a:active, li a:focus {
		background-color: #666;
	}
}

#links ul li a {
	text-decoration: none;
	color: $white;
	@include transition(color 0.5s);
}

#links {
	ul li a:hover, ul li a:active, ul li a:focus {
		text-decoration: none;
		color: $lightgold;
	}
}

.heading {
	font-size: 2.5em;
	color: $headingcolor;
}

.indented {
	text-indent: 3em;
	text-align: justify;
}

.container-fluid {
	min-height: 100vh;
}

#cover {
	position: relative;
	padding: 0;
	overflow: hidden;

	div {
		position: absolute;
		height: 4.875em;
		top: 20%;
		margin-top: -2.4375em;
		width: 100vw;
		margin: 0 auto 0 auto;

		span {
			@include animation-iteration-count(infinite);
		}
	}
}

.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
}

.menu-global {
  @include backface-visibility(hidden);
  position: absolute;
  left: 0;
  border-top: 7px solid $flatblack;
  width: 100%;
  @include transition(0.55s);
}

.menu-top {
  top: 0;
}

.menu-middle {
  top: 18px;
}

.menu-bottom {
  top: 36px;
}

.menu-top-click {
  @include backface-visibility(hidden);
  top: 15px;
  @include transform(rotate(50deg));
  @include transition(0.55s 0.5s);
}

.menu-middle-click {
  opacity: 0;
}

.menu-bottom-click {
  @include backface-visibility(hidden);
  top: 15px;
  @include transform(rotate(-410deg));
  @include transition(0.55s 0.5s);
}

footer div {
	display: inline-block;
}

#credits {
	margin: 0 auto 0 auto;
	top: 1em;
}

/*phones*/
@media (max-width: 767px) {
	#navupdown {
		margin-left: 91.4vw;
		font-size: 0.9em;
	}
	#cover div {
		margin-top: -1.75em;
	}
}
/*tablets*/
@media (min-width: 768px) and (max-width: 991px) {
	#navupdown {
		margin-left: 92vw;
		font-size: 0.95em;
	}
	#cover div {
		margin-top: -2em;
	}
}
/*small desktops/laptops*/
@media (min-width: 992px) and (max-width: 1199px) {
	#navmenu {
		margin-left: 93.5vw
	}
	#navupdown {
		margin-left: 93.25vw;
	}
}